<ion-header>
  <ion-navbar>
    <ion-title>
      Consultar un día
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item >
    <ion-label>Fecha</ion-label>
    <ion-datetime cancelText="Cancelar" doneText="Aceptar" displayFormat="DDDD DD/MM/YYYY" [(ngModel)]="myDate" placeholder="Introduce una fecha"></ion-datetime>
  </ion-item>
  <button ion-button block (click)="mostrar()">MOSTRAR FECHA</button>

  <ion-card *ngIf="diaSeleccionadoBool">
      <ion-card-header>
        Día: {{fechaDiaSeleccionado}} en {{_dias.diaSeleccionado[1]}}
      </ion-card-header> 
      <ion-card-content>
        <ion-list>
            <button ion-item *ngFor="let trabajador of diasKeys">
              {{trabajador}}
            </button>  
        </ion-list>

      </ion-card-content>
    </ion-card>


</ion-content>
