<!--
  Generated template for the TrabajadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{trabajador.nombre}} </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <h1>
      Dinero a cuenta: {{trabajador.dinero}}
    </h1>
    <button ion-button icon-only clear large class="no-margin" item-end (click)="editDinero(trabajador)"><ion-icon name="hammer" item-end></ion-icon></button>
  </ion-item>
  
</ion-content>
