<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Añadir Dia" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Consultar" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Trabajadores" tabIcon="people"></ion-tab>
</ion-tabs>
