<ion-header>
  <ion-navbar>
    <ion-title>
      Trabajadores
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let trabajador of _trabajadores.trabajadores"  >  
      <button ion-button icon-only clear large class="no-margin" item-end (click)="sumarDinero(trabajador)"><ion-icon name="logo-usd" item-end></ion-icon></button>
      <h1>{{trabajador.nombre}} </h1>
      <h2>Dias trabajados: {{trabajador.dias}}  </h2>
      <h2>Dinero a cuenta: {{trabajador.dinero}}  </h2>

      <!-- <button ion-button icon-only clear large class="no-margin" item-end (click)="editTrabajador(trabajador)"><ion-icon name="hammer" item-end></ion-icon></button> -->

      <button ion-button icon-only clear large class="no-margin" item-end (click)="removeTrabajador(trabajador)"><ion-icon name="trash" item-end></ion-icon></button>
    </ion-item>
  </ion-list>
  <div text-center>
    <button ion-button  (click)="recalcular()"  >Recalcular Dias Trabajados</button>

  </div>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addTrabajador()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
