<ion-header>
  <ion-navbar>
    <ion-title>Añadir Día</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item class="fechaItem">
        <ion-label>Fecha</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Aceptar" displayFormat="DDDD DD/MM/YYYY" [(ngModel)]="myDate" placeholder="Introduce una fecha"></ion-datetime>
      </ion-item>

      <ion-item no-padding>
          <ion-input type="text" placeholder="Introduce una nota" [(ngModel)]="nota"></ion-input>
        </ion-item>
      
      <ion-list >
        <ion-item *ngFor="let trabajador of _trabajadores.trabajadores" >  
          <ion-label>{{trabajador.nombre}} </ion-label>
          <ion-checkbox color="dark" checked="false" [(ngModel)]=dia[trabajador.nombre]></ion-checkbox>
        </ion-item>
      </ion-list>
      <button ion-button block (click)="addDia(myDate)" [disabled]="!myDate || nota.length<1" >Añadir FECHA</button>


</ion-content>
